/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/inter-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/inter-v3-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v3-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/inter-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/inter-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
::before,
::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.2;
}

img {
    vertical-align: middle; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    max-width: 1240px; 
    margin: 0 auto;
    padding: 0 20px;
}

/* Home page */

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 20px;
}

.header-link:hover {
    opacity: 0.8;
}

.header-right {
    display: flex;
    align-items: center;
}

.design-link {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background-color: #6854FC;
    border-radius: 20px;
}

.design-link:hover {
    color: #6854FC;
    background-color: #ffe;
    box-shadow: inset 0 0 1px 1px #6854FC;
    transition: color .3s ease;
    transition: background-color .3s ease;
    transition: box-shadow .4s ease;
}

.header-btn {
    margin-left: 78px;
    border: none;
    background-color: #fff;
}

/* Menu list */

.header--open .menu-list {
    display: block;
}

.menu-list {
    position: fixed;
    z-index: 100;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    padding: 28px 50px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menu-list-topper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.menu-list-top {
    display: flex;
    flex-direction: column;
}

.menu-list-link {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.menu-list-link::before {
    content: "";
    display: block;
    margin-right: 14px;
    width: 16px;
    height: 16px;
    background-image: url("../img/right.svg");
    background-repeat: no-repeat;
    flex-shrink: 0;
}


.menu-exit {
    padding: 10px;
    border: none;
    border-radius: 100%;
    background-color: #ececec;
}

.nav {
    margin-bottom: 25px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-list-item + .nav-list-item {
    margin-top: 20px;
}

.nav-list-link {
    font-size: 25px;
    color: #000;
    text-decoration: none;
}

.nav-list-link:hover {
    color: #6854FC;
    transition: color 0.5s ease;
}

.add-link {
    display: none;
}

.social-main {
    margin-bottom: 25px;
    font-size: 18px;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.social-list-item + .social-list-item {
    margin-left: 10px;
}

.social-list-link {
    display: block;
    padding: 17px 16px 16px 17px;
    background-color: #ececec;
    border-radius: 20px;
    object-fit: contain;
}

.social-list-link:hover {
    background-color: #fff;
    box-shadow: inset 0 0 2px 1px #6854FC;
    transition: box-shadow 0.5s ease;
    transition: background-color .3s ease-in;
}

/* ************************************** * Hero */

.hero {
    padding-top: 55px;
    padding-bottom: 130px;
    background-color: #F9F9FB;
    background-image: url('../img/three-thin-icon.svg');
    background-size: 600px 500px;
    background-repeat: no-repeat;
    background-position: left calc(50% + 300px) top 30%;
}

.hero-main-desc {
    width: 360px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(196, 196, 196, 0.2);
    border-radius: 20px;
}

.hero-main-desc::before {
    content: "";
    display: block;
    margin-right: 24px;
    width: 40px;
    height: 40px;
    background-color: #FFE600;
    border-radius: 50%;
}

.main-heading {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 700;
}

.hero-heading {
    max-width: 411px;
    margin-bottom: 13px;
    font-size: 60px;
}

.main-desc {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.hero-desc {
    max-width: 669px;
    margin-bottom: 50px;
    color: #808080;
}

.hero-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hero-list-link-other {
    margin-left: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #6854FC;
    text-decoration: none;
}

.hero-list-link-other:hover {
    color: #FFE600;
    transition: color .5s ease;
}

/* *************************************** Service Section*/

.service {
    padding-bottom: 55px;
    background-color: #F9F9FB;
}

.service::before {
    content: "";
    display: block;
    width: 100%;
    height: 52px;
    margin: 0 auto;
    margin-bottom: 54px;
    background-color: #AEE2FF;
}

.service-heading {
    margin-bottom: 19px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.service-desc {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 500;
    color: #808080;
    text-align: center;
}

.service-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -25;
    margin-bottom: 70px;
    padding: 0;
    list-style-type: none;
}

.service-list-item {
    width: 400px;
    margin: 25px;
}

.service-list-item:nth-child(1)::before{
    content: '';
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 100px;
    padding: 15px;
    background-color: #F0EEFF;
    background-image: url('../img/mobile-app.svg');
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: left calc(50% + -30%) top 50%;
    border-radius: 50%;
}

.service-list-item:nth-child(2)::before{
    content: '';
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 100px;
    padding: 15px;
    background-color: #F0EEFF;
    background-image: url('../img/website.svg');
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: left calc(50% + -30%) top 50%;
    border-radius: 50%;
}

.service-list-item:nth-child(3)::before{
    content: '';
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 100px;
    padding: 15px;
    background-color: #F0EEFF;
    background-image: url('../img/designing.svg');
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: left calc(50% + -30%) top 50%;
    border-radius: 50%;
}

.service-list-item:nth-child(4)::before{
    content: '';
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 100px;
    padding: 15px;
    background-color: #F0EEFF;
    background-image: url('../img/marketing.svg');
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: left calc(50% + -30%) top 50%;
    border-radius: 50%;
}

.service-list-link {
    text-decoration: none;
}

.service-list-heading {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #6854FC;
    text-align: center;
}

.service-list-desc {
    font-size: 18px;
    color: #808080;
    text-align: center;
}

.service-link {
    display: block;
    width: 155px;
    margin: 0 auto;
}

/* ******************************************* Work section */

.work {
    padding-top: 55px;
    padding-bottom: 150px;
    background-color: #F9F9FB;
}

.work-heading {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.work-desc {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #808080;
    text-align: center;
}

.work-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -20;
    margin-bottom: 30px;
    padding: 0;
    list-style-type: none;
}

.work-list-item {
    margin: 20px;
}

.work-list-img {
    border-radius: 20px;
}

.work-list-img:hover {
    transform: scale(1.1);
    transition: transform .3s ease;
}

.work-link {
    width: 180px;
    margin: 0 auto;
    display: block;
}

/* ********************************** Motto Section */

.motto {
    background-color: #F1F1F3;
}

.motto .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
}

.motto-heading {
    display: flex;
    width: 45%;
    font-size: 37px;
    line-height: 140%;
    font-weight: 600;
}

.motto-heading::after {
    content: '';
    display: block;
    width: 2px;
    height: 210px;
    margin: auto 0;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #808080;
}

.motto-desc {
    width: 55%;
    font-size: 18px;
    color: #808080;
    line-height: 28px;
}


/* ******************************************* About section */

.about {
    padding-top: 170px;
    padding-bottom: 150px;
    background-color: #F9F9FB;
}

.about-inner {
    padding-top: 85px;
    padding-right: 130px;
    padding-bottom: 85px;
    padding-left: 680px;
    background-image: url('../img/about.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    object-fit: contain;
}

.about-heading {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
}

.about-desc {
    margin-bottom: 35px;
    font-size: 18px;
    color: #808080;
}


/* * * * * * * * * * * * * * * * * * * *  Footer */

.footer {
    padding-top: 85px;
    padding-bottom: 88px;
    background-color: #0A142F;
}

.footer-inner {
    max-width: 500px;
    margin: 0 auto;
}

.footer-link {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

.footer-link:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

.f-nav-list {
    margin: 0;
    margin-bottom: 75px;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.f-nav-list-link {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.f-nav-list-link:hover {
    color: #FFE600;
    transition: color .5s ease;
}

.f-social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -10px;
    margin-bottom: 70px;
    padding: 0;
    list-style-type: none;
}

.f-social-list-item {
    margin: 10px;
}

.f-social-list-link {
    display: block;
    padding: 17px 16px 16px 17px;
    color: #fff;
    background-color: #212A43;
    border-radius: 20px;
    object-fit: contain;
}

.f-social-list-link:hover {
    color: #FFE600;
    box-shadow: inset 0 0 0 2px #FFE600;
    background-color: #000;
    transition: color .3s ease;
    transition: background-color .5s ease-in;
    transition: box-shadow .7s ease;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-desc {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #474E63;
    font-weight: 500;
}

.footer-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-list-item + .footer-list-item {
    margin-left: 15px;
}

.footer-list-link {
    color: #474E63;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.footer-list-link:hover {
    color: #FFE600;
    transition: color .5s ease;
}


/* Verstka */

@media only screen and (max-width:1120px){
    .about-inner {
        padding-right: 20px;
        padding-left: 600px;
    }
}

@media only screen and (max-width: 1000px) {
    .menu-list-topper {
        flex-direction: column-reverse;
        align-items: start;
    }
    
    .menu-exit {
        margin-left: auto;
    }
    
    /* Motto */
    
    .motto .container {
        flex-direction: column;
    }
    
    .motto-heading {
        width: 80%;
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
    }
    
    .motto-desc {
        width: 100%;
        font-size: 20px;
        line-height: 1.2;
    }
    
    .motto-heading::after {
        display: none;
    }
    
    /* About */
    
    .about-inner {
        padding: 250px 30px;
        background-position: center;
        background-size: cover;
    }
    
    .about-heading {
        color: #fff;
    }
    
    .about-desc {
        color: #F0EEFF;
    }
}

@media only screen and (max-width:768px) {
    .header-btn {
        margin-left: 10px;
    }
    
    .menu-list {
        width: 450px;
    }
    
    .menu-list-top {
        margin-bottom: 20px;
    }
    
    .menu-list-link {
        font-size: 14px;
    }
    
    .nav {
        margin-bottom: 15px;
    }
    
    .nav-list-item + .nav-list-item {
        margin-top: 10px;
    }
    
    .nav-list-link {
        font-size: 18px;
    }
    
    .add-link {
        display: block;
        margin-top: 10px;
        font-size: 14px;
    }
    
    .header-right-link {
        display: none;
    }
    
    
    
    /* hero */
    
    .hero {
        background-image: url('../img/three-thin-icon.svg');
        background-size: 600px 400px;
        background-position: left calc(50% + 200px) top 30%;
    }
    
    .hero-main-desc {
        width: 300px;
        font-size: 16px;
    }
    
    .hero-heading {
        font-size: 32px;
    }
    
    .hero-list {
        flex-wrap: wrap;
    }
    
    .hero-list-item + .hero-list-item {
        margin-top: 15px;
    }
    
    .hero-list-link-other {
        margin: 0;
    }
    
    /* Service */
    
    .service-heading {
        font-size: 28px;
    }
    
    /* Work */
    
    .work-list-img {
        width: 300px;
        height: 313px;
    }
    
    .motto .container {
        padding: 15px 20px;
    }
}

@media only screen and (max-width: 600px){
    .menu-list {
        width: 100%;
        padding: 25px;
    }
    
    .menu-list-link {
        font-size: 12px;
    }
    
    .menu-list-link::before {
        display: none;
    }
    
    .add-link {
        font-size: 12px;
    }
    
    .social-list-link {
        padding: 8px;
    }
    
    /* Service */
    
    .service-list-item {
        width: 310px;
    }
    
    /* About */
    
    .about {
        padding: 70px 20px;
    }
    
    .about-inner {
        padding: 50px 5px;
        background-size: cover;
    }
    
    .about-heading {
        font-size: 28px;
    }
    
    .about-desc {
        font-size: 16px;
    }

    /* Footer */

    .f-nav-list {
        margin: -10px;
        margin-bottom: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .f-nav-list-item {
        margin: 10px;
    }

    .f-social-list {
        justify-content: center;
    }

    .footer-bottom {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer-desc {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .footer-list {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 425px){
    .hero {
        background-image: url('../img/three-thin-icon.svg');
        background-size: 400px 300px;
        background-position: left calc(50% + 50px) top 30%;
    }
    
    /* About */
    
    .about-heading {
        font-size: 20px;
    }
    
    .about-desc {
        font-size: 16px;
    }
}