/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/inter-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/inter-v3-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v3-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/inter-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/inter-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
::before,
::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.2;
}

img {
    vertical-align: middle; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    max-width: 1440px; 
    margin: 0 auto;
    padding: 0 90px;
}

/* Home page */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 90px;
}

.header-link:hover {
    opacity: 0.8;
}

.header-right {
    display: flex;
    align-items: center;
}

.design-link {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background-color: #6854FC;
    border-radius: 20px;
}

.design-link:hover {
    color: #6854FC;
    background-color: #ffe;
    box-shadow: inset 0 0 1px 1px #6854FC;
}

.header-btn {
    margin-left: 78px;
    border: none;
    background-color: #fff;
}

/* Menu list */

.header--open .menu-list {
    display: block;
}

.menu-list {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    width: 500px;
    padding: 28px 50px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menu-list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}

.menu-list-link {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.menu-list-link::before {
    content: "";
    display: block;
    margin-right: 14px;
    width: 16px;
    height: 16px;
    background-image: url("../img/right.svg");
    background-repeat: no-repeat;
}


.menu-exit {
    padding: 10px;
    border: none;
    border-radius: 100%;
    background-color: #ececec;
}

.nav {
    margin-bottom: 142px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-list-item + .nav-list-item {
    margin-top: 40px;
}

.nav-list-link {
    font-size: 36px;
    color: #000;
    text-decoration: none;
}

.nav-list-link:hover {
    color: #6854FC;
    transition: color 0.5s ease;
}

.add-link {
    display: none;
}

.social-main {
    margin-bottom: 25px;
    font-size: 18px;
}

.social-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.social-list-item + .social-list-item {
    margin-left: 24px;
}

.social-list-link {
    display: block;
    padding: 17px 16px 16px 17px;
    background-color: #ececec;
    border-radius: 20px;
    object-fit: contain;
}

.social-list-link:hover {
    background-color: #fff;
    box-shadow: inset 0 0 2px 1px #6854FC;
    transition: color 0.5s ease;
}

/* Verstka */

@media only screen and (max-width: 1240px) {
    .header .container {
        padding: 20 20px;
    }
}

@media only screen and (max-width:768px) {
    .header-btn {
        margin-left: 10px;
    }
    
    .menu-list {
        width: 400px;
    }

    .menu-list-top {
        margin-bottom: 20px;
    }

    .nav {
        margin-bottom: 25px;
    }

    .nav-list-item + .nav-list-item {
        margin-top: 20px;
    }

    .nav-list-link {
        font-size: 28px;
    }

    .add-link {
        display: block;
    }

    .header-right-link {
        display: none;
    }
}